doctype html
html
    head
        include commonHead
        script(src="client-js/admin_client.js")
        link(href='/css/admin.css', rel='stylesheet')
    body
        #tabs
            ul
                li
                    a(href="#manage")= __('manage')
                li
                    a(href="#orders")= __('orders')
                li
                    a(href="#enquete")= __('enquete')
            #manage
                include manage
            #orders
                include orders
            #enquete
                include enquete_body
