script(src="client-js/manage_client.js")
div#man
    h2= __('menu')
    div.images!= imagesHTML
    p
        | 說明
        span#saving
        br
        textarea#edit_description(cols=70,rows=8)= description
    p
        button#uploadFile(onclick="$('#filesToUpload').trigger('click')")= __('add_image')
        span(style="padding-left:3px; padding-right: 3px;") or
        button#add_image_url(onclick="addImageUrl()")= __('add_image_url')
        span ：
        input#image_url(size=40)
        form(enctype="multipart/form-data", method="post", action="/uploadImage")
            input#filesToUpload(type="file", name="filesToUpload", onchange="this.form.submit()", style="display: none;")
    #imageView.normal
        img.normal
    #cover
        a#deleteImage(href="javascript:void(0);")= __('delete')
        span &emsp;
        a#close(href="javascript:void(0);")= __('close')
    p
        form
            input(type="radio", name="mode", id="singleInputMode", value="singleInput", checked="checked")
            label(for="singleInputMode")= __('single_input')
